@model ContacUSViewModel
@{
	ViewData["Title"] = "Home Page";
}
@* GoogleRecapchaForViewViewModel tmp = ViewData["SiteKey"] as GoogleRecapchaForViewViewModel; *@
<p>

</p>
<p>

</p>

 <div class="text-center" style="border-bottom-color:aqua">
    <h3 class="display-4">Welcome to My Recapcha Test </h3>
	<p>

	</p>
</div> 
<p>

</p>
<div class="row">

	<div class="col-lg-12">
		<form class="alx-contact-form" asp-action="Index" asp-controller="Home" method="post">
			<div class="row">
				<div class="col-lg-6">
					<div class="alx-input-group" style="border:dashed solid">
						<input asp-for=Fullname placeholder="نام و نام خانوادگی شما ">
						@* <i class="fa fa-user-o"></i> *@
					</div>
					<div>
						<span asp-validation-for="Fullname" style="color:red"></span>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="alx-input-group">
						<input asp-for=PhoneNumber placeholder="شماره تماس شما "><i class="fa fa-at"></i>
						<div>
							<span asp-validation-for="PhoneNumber" style="color:red"></span>
						</div>
					</div>
				</div>
				<p>

				</p>
				<div class="col-lg-12">
					<div class="alx-input-group">
						<textarea asp-for="Message" rows="6" placeholder="پیغام "></textarea><i class="fa fa-commenting-o"></i>
					</div>

					<div>
						<span asp-validation-for="Message" style="color:red"></span>
					</div>
					@* 
                <div class="alx-success-msg hide">
                    <p>پیغام با موفقیت ارسال شد</p>
                </div> *@
					<input class="alx-btn" type="submit" value="ارسال پیغام">
				</div>
			</div>

		</form>
	</div>

</div>




@section script {
	<script>
	</script>
}

@* <partial name="_CaptchaScript" model="@tmp" /> *@